<ion-modal-view>
    <ion-header-bar class="bar bar-bikemaps">
        <button ng-click="hideItems()" class="button button-clear button-bikemaps">
            <i class="ion-chevron-left bma-chevron"></i>
        </button>
        <h1 class="title">{{headerText}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div ng-repeat="group in groups">
                <div class="bma-group report-colour">
                    <span>{{group.text}}</span>
                </div>
                <div class="item bma-item item-text-wrap report-colour"
                     ng-repeat="item in group.items"
                     ng-click='select(item)'>
                    {{item.text}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>