<ion-view>
    <ion-nav-title>
        <img src="img/BikeMapsORG_Logo_notxt_sm.png" class="bma-header-logo">
        <span>Hazard Report</span>
    </ion-nav-title>
    <!--Hide the menu button-->
    <ion-nav-buttons side="right" >
    </ion-nav-buttons>

    <ion-content id="hazard">
        <form role="form" ng-submit="submitHazard($scope.hazardForm)" name="hazardForm" id="hazardForm" novalidate>
            <div class="padding">
                <accordion close-others=false>
                    <accordion-group heading="Hazard Details" is-open=true ng-class="{true: 'form-title-invalid', false: 'form-valid'}[model.dateAlert || model.timeAlert || model.hazardTypeAlert]">
                        <div id="div_id_date" class="form-group">
                            <label class="incident-label" ng-class="{true: 'form-invalid', false: 'form-valid'}[model.dateAlert]" for="div_id_date">
                                When was the incident?*
                            </label>
                            <div id="date-container">
                                <input ng-model="hazardDetails.selectedDate" bs-datepicker type="text" style="background-color: #fff; border:1px solid #ddd; padding-left: 20px;" class="form-control incident-date">
                                <i id="date-icon" class="ion-calendar"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="incident-label" ng-class="{true: 'form-invalid', false: 'form-valid'}[model.timeAlert]" for="div_id_date">
                                What time did the incident occur?
                            </label>
                            <div id="time-container">
                                <input ng-model="hazardDetails.selectedTime" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="5" data-arrow-behavior="picker" type="text" style="background-color: #fff; border:1px solid #ddd; padding-left: 20px;" class="form-control incident-date">
                                <i id="time-icon" class="ion-clock"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="incident-label" ng-class="{true: 'form-invalid', false: 'form-valid'}[model.hazardTypeAlert]">
                                What type of hazard was it?*
                            </label>
                            <group-select
                                    header-text="Select a hazard type"
                                    display-text="hazardDetails.selectedHazardType.text"
                                    selected-item="hazardDetails.selectedHazardType"
                                    groups="hazardDetails.hazardGroupChoices"
                                    >
                            </group-select>
                        </div>

                    </accordion-group>
                    <accordion-group heading="Description">
                        <div class="form-group">
                            <label class="incident-label">
                                Please give a brief description of the incident.
                            </label>
                            <textarea class="item incident-textarea" placeholder="optional" ng-model="description.details"></textarea>
                        </div>
                    </accordion-group>
                    <accordion-group heading="Personal Details">
                        <div class="form-group">
                            <label class="incident-label">
                                What is your birth year?
                            </label>
                            <basic-select
                                    header-text="Select a year"
                                    display-text="personalDetails.selectedHazardBirthYear.text"
                                    selected-item="personalDetails.selectedHazardBirthYear"
                                    items="personalDetails.birthYearChoices"
                                    >
                            </basic-select>
                        </div>
                        <div class="form-group">
                            <label class="incident-label">
                                What is your birth month?
                            </label>
                            <basic-select
                                    header-text="Select a month"
                                    display-text="personalDetails.selectedHazardBirthMonth.text"
                                    selected-item="personalDetails.selectedHazardBirthMonth"
                                    items="personalDetails.birthMonthChoices"
                                    >
                            </basic-select>
                        </div>
                        <div class="form-group">
                            <label class="incident-label">
                                Please select your gender?
                            </label>
                            <basic-select
                                    header-text="Select a gender"
                                    display-text="personalDetails.selectedHazardGender.text"
                                    selected-item="personalDetails.selectedHazardGender"
                                    items="personalDetails.genderChoices"
                                    >
                            </basic-select>
                        </div>
                        <div class="form-group">
                            <label class="incident-label">
                                Do you bike at least once a week?
                            </label>
                            <basic-select
                                    header-text="Select an option"
                                    display-text="personalDetails.selectedHazardCyclingFrequency.text"
                                    selected-item="personalDetails.selectedHazardCyclingFrequency"
                                    items="personalDetails.cyclingFrequencyChoices"
                                    >
                            </basic-select>
                        </div>

                        <div class="padding">
                            <input type="checkbox" class="bma-checkbox"  ng-checked="model.savePersonalDetailsChecked" ng-click="togglePersonalDetailsCheckbox()"/>
                            <span ng-click="togglePersonalDetailsCheckbox()">Remember birth year, birth month, gender and biking frequency for all future reports.</span>
                        </div>
                    </accordion-group>
                </accordion>
            </div>

            <div ng-show="model.dateAlert || model.hazardTypeAlert" class="alert bma-required" >
                Please complete all required fields in the Hazard Details section.
            </div>

            <div class="padding" ng-click="markCheckbox()" ng-controller='TermsAndConditionsCtrl'>
                <input type="checkbox" class="bma-checkbox" ng-model="model.hazardChecked" ng-click="markCheckbox()"/>
                    <span>I have read and understand the
                        <a ng-click="openModal()">
                            terms and conditions.
                        </a>
                    </span>
            </div>
            <div class="padding text-right">
                <button type="reset" class="button button-bikemaps-inverse" ng-click="cancelHazard()">
                    Cancel
                </button>
                <button type="submit" class="button button-bikemaps" ng-disabled="!model.hazardChecked">
                    Submit
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>