<ion-modal-view>
    <ion-header-bar class="bar bar-bikemaps" >
        <h1 class="title">Welcome to BikeMaps!</h1>
    </ion-header-bar>

    <ion-content id="intro">
        <div class="row bma-about">
            <div class="col-xs-12">
                <p>BikeMaps is a crowdsource tool for global mapping of cycling safety. Using the <i class="fa fa-map-marker"></i> button, add your own data on cycling crashes, near misses, hazards and thefts. Data will be used for analysis of cycling safety trends. Click
                    <a ui-sref="help">here</a> for more help.
                </p>
            </div>
        </div>

        <div style="margin-left:18px;">
            <button type="reset" class="button button-bikemaps" ng-click="closeIntroModal()">
                Continue
            </button>
        </div>

        <div class="bma-about" ng-click="markCheckbox()" style="margin-left:18px;">
            <input type="checkbox" class="bma-checkbox" ng-model="model.hideIntro" ng-click="markCheckbox()"/>
            <span>Do not show this message again.</span>
        </div>

    </ion-content>
</ion-modal-view>