<ion-modal-view>
    <ion-header-bar class="bar bar-bikemaps" >
            <h1 class="title">Login</h1>
    </ion-header-bar>

    <ion-content id="login">
        <form role="form" ng-submit="login(loginForm)" name="loginForm" novalidate>
            <div class="list">
                <label class="item">
                    <input name="username" class="bma-text" id="id_username" type="text" ng-model="model.username" placeholder="Username" required />
                </label>
                <div class="alert alert-danger" ng-repeat="error in errors.username">
                    <span>{{error}}</span>
                </div>
                <label class="item">
                    <input name="password" class="bma-text" id="id_password" type="password" ng-model="model.password" placeholder="Password" required />
                </label>
                <div class="alert alert-danger" ng-repeat="error in errors.password">{{error}}</div>
                <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{{error}}</div>
                <div class="alert alert-danger" ng-if="error">{{error}}</div>
            </div>
            <div class="padding">
                <button type="reset" class="button button-bikemaps-inverse" ng-click="cancelLogin()">
                    Cancel
                </button>
                <button type="submit" class="button button-bikemaps">
                    Submit
                </button>
            </div>
        </form>
        <div class="bma-account">
            <div class="padding" ng-click="createAccount()">Create an account</div>
            <div class="padding" ng-click="resetPassword()">I don't know my password</div>
        </div>
    </ion-content>
</ion-modal-view>