<ion-view>
    <ion-nav-title>
        <img src="img/BikeMapsORG_Logo_notxt_sm.png" class="bma-header-logo">
        <span>Notifications</span>
    </ion-nav-title>
    <!--Hide the menu button-->
    <ion-nav-buttons side="right" >
    </ion-nav-buttons>

    <ion-content ng-controller="NotificationCtrl">
        <ion-list ng-hide="model.notifications.length">
            <ion-item>
                There are no notifications.
            </ion-item>
        </ion-list>
        <ion-list ng-hide="!model.notifications.length" show-delete=true>
            <ion-item class="capitalizeFirstLetter" ng-repeat="notification in model.notifications"  ng-click="viewNotificationOnMap(notification)">
                {{notification.payload.type}}: {{notification.payload.i_type}}
                <ion-delete-button class="ion-minus-circled"  ng-click="deleteItem(notification)"></ion-delete-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>