<ion-view id="passwordReset_view" >
    <ion-nav-title class="bma-title">
        <img src="img/BikeMapsORG_Logo_notxt_sm.png" style="height: 37px; vertical-align: middle">
        <span>Password Reset</span>
    </ion-nav-title>
    <!--Hide the menu button-->
    <ion-nav-buttons side="right" >
    </ion-nav-buttons>

    <ion-content>
        <div ng-if="complete == false">
            <form role="form" ng-if="authenticated != true" name="passwordResetForm" ng-submit="resetPassword(passwordResetForm)" novalidate>
                <ion-list>
                    <ion-item>
                        <span class="input-label">Email:</span>
                        <input name="email" id="id_email" type="text" ng-model="model.email" placeholder="Email" required />
                    </ion-item>
                    <div class="alert alert-danger" ng-repeat="error in errors.email">{{error}}</div>
                </ion-list>
                <div class="padding text-right">
                    <button type="reset" class="button button-bikemaps-inverse" ng-click="cancelReset()" >
                        Cancel
                    </button>
                    <button type="submit" class="button button-bikemaps">
                        Submit
                    </button>
                </div>
            </form>
        </div>
        <div ng-if="complete == true">
            <div class="alert alert-success">You should receive an email shortly with instructions on how to reset your account password.</div>
            <div class="padding">
                <button class="button button-bikemaps" ng-click="continue()">
                    Continue
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>