<ion-popover-view>
    <ion-content>
        <div class="list" ng-click="popover.hide()">

            <div class="item" ng-click="clearLocalStorage()">
                Curb
            </div>
            <div class="item" ng-click="clearLocalStorage()">
                Island
            </div>
            <a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">
                Submit an Issue
            </a>
            <a class="item" href="https://github.com/driftyco/ionic" target="_blank">
                Github Repo
            </a>
        </div>
    </ion-content>
</ion-popover-view>