<ion-popover-view class="bma-fit">
    <ion-content scroll="false">
        <div ng-click="popover.hide()" class="bma-popover">
            <div ng-show="authInfo.user === 'Guest'">
                <a class="item" ng-click="openModal()" >
                    <span>Login</span>
                </a>
            </div>
            <div ng-hide="authInfo.user === 'Guest'">
                <a class="item" ui-sref="notifications" >
                    <span>Notifications</span>
                </a>
            </div>
            <div ng-hide="authInfo.user === 'Guest'">
                <a class="item" ui-sref="settings" >
                    <span>Settings</span>
                </a>
            </div>
            <div>
                <a class="item" ui-sref="about" >
                    <span>About</span>
                </a>
            </div>
            <div ng-hide="authInfo.user === 'Guest'">
                <a class="item" ui-sref="logout" >
                    <span>Logout</span>
                </a>
            </div>
            <!--<div class="item" ng-click="clearLocalStorage()">
                Clear local storage
            </div>-->
        </div>
    </ion-content>
</ion-popover-view>