<ion-view>
    <ion-nav-title>
        <img src="img/BikeMapsORG_Logo_notxt_sm.png" class="bma-header-logo">
        <span>Settings</span>
    </ion-nav-title>
    <!--Hide the menu button-->
    <ion-nav-buttons side="right" >
    </ion-nav-buttons>

    <ion-content ng-controller="SettingsCtrl">
        <ion-list>
            <ion-toggle ng-model="model.receiveAlerts" ng-change="toggleReceiveAlerts()">
                Receive Alerts
            </ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>