<ion-view>
    <ion-nav-title>
        <img src="img/BikeMapsORG_Logo_notxt_sm.png" style="height: 25px; vertical-align: middle; margin-right: 3px">
        <span>Share</span>
    </ion-nav-title>
    <!--Hide the menu button-->
    <ion-nav-buttons side="right" >
    </ion-nav-buttons>

    <ion-content id="share">
        <ul class="list">
            <li class="item"><a href="#/" onClick="window.open('https://www.facebook.com/sharer/sharer.php?u=bikemaps.org&t=BikeMaps.org%20is%20the%20coolest','_system');return false;">
            <i class="fa fa-facebook"></i> Facebook</a></li>
            <li class="item"><a href="#/" onClick="window.open('http://twitter.com/intent/tweet?text=Take%20a%20look%20at%20reported%20cycling%20incidents%20in%20your%20community%20here!%20&url=http%3A%2F%2Fbikemaps.org','_system');return false;">
                <i class="fa fa-twitter"></i> Twitter</a></li>
            <li class="item"><a href="#/" onClick="window.open('https://plus.google.com/share?url=bikemaps.org','_system');return false;">
                <i class="fa fa-google-plus"></i> Google+</a></li>
            <li class="item"><a href="#/" onClick="window.open('http://www.tumblr.com/share/link?url=bikemaps.org&name=BikeMaps.org&description=Take%20a%20look%20at%20reported%20cycling%20incidents%20in%20your%20community%20at%20BikeMaps.org#sthash.2MHzi8oM.dpuf','_system');return false;">
                <i class="fa fa-tumblr"></i> Tumblr</a></li>
            <li class="item"><a href="#/" onClick="window.open('http://reddit.com/submit?url=bikemaps.org&title=BikeMaps.org#sthash.2MHzi8oM.dpuf','_system');return false;">
                <i class="fa fa-reddit"></i> Reddit</a></li>
            <li class="item"><a href="#/" onClick="window.open('http://www.stumbleupon.com/submit?url=bikemaps.org&title=BikeMaps.org#sthash.2MHzi8oM.dpuf','_system');return false;">
                <i class="fa fa-stumbleupon"></i> StumbleUpon</a></li>
        </ul>
    </ion-content>
</ion-view>