<ion-view>
    <ion-nav-title>
        <img src="img/BikeMapsORG_Logo_notxt_sm.png" style="height: 37px; vertical-align: middle">
        <span>Share</span>
    </ion-nav-title>
    <ion-content id="share">
        <ul class="list">
            <li class="item"><a href="#" onClick="window.open('https://www.facebook.com/sharer/sharer.php?u=bikemaps.org&t=BikeMaps.org%20is%20the%20coolest','_system');return false;">
                <i class="fa fa-facebook"></i> Facebook new window</a></li>
            <li class="item"><a href="https://www.facebook.com/sharer/sharer.php?u=bikemaps.org&t=BikeMaps.org%20is%20the%20coolest" target="_blank">
                <i class="fa fa-facebook"></i> Facebook</a></li>
            <li class="item"><a href="http://twitter.com/intent/tweet?text=Take%20a%20look%20at%20reported%20cycling%20incidents%20in%20your%20community%20here!%20&url=http%3A%2F%2Fbikemaps.org" target="_blank">
                <i class="fa fa-twitter" target="_blank"></i> Twitter</a></li>
            <li class="item"><a href="https://plus.google.com/share?url=bikemaps.org" target="_blank">
                <i class="fa fa-google-plus" target="_blank"></i> Google+</a></li>
            <li class="item"><a href="http://www.tumblr.com/share/link?url=bikemaps.org&name=BikeMaps.org&description=Take%20a%20look%20at%20reported%20cycling%20incidents%20in%20your%20community%20at%20BikeMaps.org#sthash.2MHzi8oM.dpuf" target="_blank">
                <i class="fa fa-tumblr"></i> Tumblr</a></li>
            <li class="item"><a href="http://reddit.com/submit?url=bikemaps.org&title=BikeMaps.org#sthash.2MHzi8oM.dpuf" target="_blank">
                <i class="fa fa-reddit"></i> Reddit</a></li>
            <li class="item"><a href="http://www.stumbleupon.com/submit?url=bikemaps.org&title=BikeMaps.org#sthash.2MHzi8oM.dpuf" target="_blank">
                <i class="fa fa-stumbleupon"></i> StumbleUpon</a></li>
        </ul>
    </ion-content>
</ion-view>