<ion-view>
    <ion-nav-title>
        <img src="img/BikeMapsORG_Logo_notxt_sm.png" class="bma-header-logo">
        <span>Theft Report</span>
    </ion-nav-title>
    <!--Hide the menu button-->
    <ion-nav-buttons side="right" >
    </ion-nav-buttons>
    <ion-content id="theft">
        <form role="form" ng-submit="submitTheft($scope.theftForm)" ng-controller="TheftCtrl" name="theftForm" id="theftForm" novalidate>
            <div class="padding">
                <accordion close-others=false>
                    <accordion-group heading="Theft Details" is-open=true ng-class="{true: 'form-title-invalid', false: 'form-valid'}[model.dateAlert || model.theftChoiceAlert || model.theftLockedAlert || model.theftLockTypeAlert || model.theftLocationAlert || model.theftLightingAlert || model.theftTrafficAlert]">
                        <div data-tap-disabled="true" class="form-group">
                            <label class="incident-label" ng-class="{true: 'form-invalid', false: 'form-valid'}[model.dateAlert]" >
                                When was the incident?*
                            </label>
                            <div id="date-container">
                                <input ng-model="theftDetails.selectedDate" bs-datepicker use-native="true" type="text" style="background-color: #fff; border:1px solid #ddd; padding-left: 20px;" class="form-control incident-date">
                                <i id="date-icon" class="ion-calendar"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="incident-label" ng-class="{true: 'form-invalid', false: 'form-valid'}[model.timeAlert]">
                                What time did the incident occur?*
                            </label>
                            <div id="time-container">
                                <input ng-model="theftDetails.selectedTime" bs-timepicker use-native="true" data-time-format="HH:mm" data-length="1" data-minute-step="5" data-arrow-behavior="picker" type="text" style="background-color: #fff; border:1px solid #ddd; padding-left: 20px;" class="form-control incident-date">
                                <i id="time-icon" class="ion-clock"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="incident-label" ng-class="{true: 'form-invalid', false: 'form-valid'}[model.theftChoiceAlert]">
                                What was stolen?*
                            </label>
                            <basic-select
                                    header-text="Select an option"
                                    display-text="theftDetails.selectedTheftChoice.text"
                                    selected-item="theftDetails.selectedTheftChoice"
                                    items="theftDetails.theftChoices"
                                    >
                            </basic-select>
                        </div>
                        <div class="form-group">
                            <label class="incident-label" ng-class="{true: 'form-invalid', false: 'form-valid'}[model.theftLockedAlert]">
                                Did you have your bike locked?*
                            </label>
                            <group-select
                                    header-text="Select an option"
                                    display-text="theftDetails.selectedLockedChoice.text"
                                    selected-item="theftDetails.selectedLockedChoice"
                                    groups="theftDetails.lockedChoices"
                                    >
                            </group-select>
                        </div>
                        <div class="form-group">
                            <label class="incident-label" ng-class="{true: 'form-invalid', false: 'form-valid'}[model.theftLockTypeAlert]">
                                What kind of lock were you using?*
                            </label>
                            <basic-select
                                    header-text="Select an option"
                                    display-text="theftDetails.selectedLockTypeChoice.text"
                                    selected-item="theftDetails.selectedLockTypeChoice"
                                    items="theftDetails.lockTypeChoices"
                                    >
                            </basic-select>
                        </div>
                        <div class="form-group">
                            <label class="incident-label" ng-class="{true: 'form-invalid', false: 'form-valid'}[model.theftLocationAlert]">
                                Where did you leave your bike?*
                            </label>
                            <basic-select
                                    header-text="Select an option"
                                    display-text="theftDetails.selectedLocationChoice.text"
                                    selected-item="theftDetails.selectedLocationChoice"
                                    items="theftDetails.locationChoices"
                                    >
                            </basic-select>
                        </div>
                        <div class="form-group">
                            <label class="incident-label" ng-class="{true: 'form-invalid', false: 'form-valid'}[model.theftLightingAlert]">
                                Which describes the lighting conditions where and when the theft occurred?*
                            </label>
                            <basic-select
                                    header-text="Select an option"
                                    display-text="theftDetails.selectedLightingChoice.text"
                                    selected-item="theftDetails.selectedLightingChoice"
                                    items="theftDetails.lightingChoices"
                                    >
                            </basic-select>
                        </div>
                        <div class="form-group">
                            <label class="incident-label" ng-class="{true: 'form-invalid', false: 'form-valid'}[model.theftTrafficAlert]">
                                What best describes the traffic in the area where the theft occurred?*
                            </label>
                            <basic-select
                                    header-text="Select an option"
                                    display-text="theftDetails.selectedTrafficChoice.text"
                                    selected-item="theftDetails.selectedTrafficChoice"
                                    items="theftDetails.trafficChoices"
                                    >
                            </basic-select>
                        </div>
                    </accordion-group>
                    <accordion-group heading="Description">
                        <div class="form-group">
                            <label class="incident-label">
                                Please give a brief description of the incident.
                            </label>
                            <textarea class="item incident-textarea" placeholder="optional" ng-model="theftDescription.details"></textarea>
                        </div>
                    </accordion-group>
                    <accordion-group heading="Personal Details">
                        <div class="form-group">
                            <label class="incident-label">
                                Do you bike at least once a week?
                            </label>
                            <basic-select
                                    header-text="Select an option"
                                    display-text="personalDetails.selectedHazardCyclingFrequency.text"
                                    selected-item="personalDetails.selectedHazardCyclingFrequency"
                                    items="personalDetails.cyclingFrequencyChoices"
                                    >
                            </basic-select>
                        </div>
                        <div class="form-group">
                            <label class="incident-label">
                                Did you file a report with the police?
                            </label>
                            <basic-select
                                    header-text="Select an option"
                                    display-text="personalDetails.selectedPoliceReportChoice.text"
                                    selected-item="personalDetails.selectedPoliceReportChoice"
                                    items="personalDetails.policeReportChoices"
                                    >
                            </basic-select>
                        </div>
                        <div class="form-group">
                            <label class="incident-label">
                                If you filed a police report, what is the report number?
                            </label>
                            <input type="text" style="height:56px;width:100%;border:1px solid #ddd; padding-left: 20px;" maxlength="100" ng-model="personalDetails.policeReportNumber" />
                        </div>

                        <div class="form-group">
                            <label class="incident-label">
                                Did you file an insurance claim?
                            </label>
                            <basic-select
                                    header-text="Select an option"
                                    display-text="personalDetails.selectedInsuranceClaimChoice.text"
                                    selected-item="personalDetails.selectedInsuranceClaimChoice"
                                    items="personalDetails.insuranceClaimChoices"
                                    >
                            </basic-select>
                        </div>
                        <div class="form-group">
                            <label class="incident-label">
                                If you filed an insurance claim, what is the claim number?
                            </label>
                            <input type="text" style="height:56px;width:100%;border:1px solid #ddd; padding-left: 20px;" maxlength="100" ng-model="personalDetails.insuranceClaimNumber" />
                        </div>
                    </accordion-group>
                </accordion>
            </div>
            <div ng-show="model.dateAlert || model.theftChoiceAlert || model.theftLockedAlert || model.theftLockTypeAlert || model.theftLocationAlert || model.theftLightingAlert || model.theftTrafficAlert" class="alert bma-required" >
                Please complete all required fields in the Theft Details section.
            </div>

            <div class="padding" ng-click="markCheckbox()" ng-controller='TermsAndConditionsCtrl'>
                <input type="checkbox" class="bma-checkbox" ng-model="model.theftChecked" ng-click="markCheckbox()"/>
                <span>I have read and understand the
                    <a ng-click="openModal()">
                        terms and conditions.
                    </a>
                </span>
            </div>
            <div class="padding text-right">
                <button type="reset" class="button button-bikemaps-inverse" ng-click="cancelTheft()">
                    Cancel
                </button>
                <button type="submit" class="button button-bikemaps" ng-disabled="!model.theftChecked">
                    Submit
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>