<ion-view>
    <ion-nav-title>
        <img src="img/BikeMapsORG_Logo_notxt_sm.png" style="height: 37px; vertical-align: middle">
        <span>Hazard Report</span>
    </ion-nav-title>
    <!--Hide the menu button-->
    <ion-nav-buttons side="right" >
    </ion-nav-buttons>
    <ion-content id="theft">
        <form role="form" ng-submit="submitHazard($scope.theftForm)" name="theftForm" id="theftForm" novalidate>
            <div class="padding">
                <accordion close-others="oneAtATime">
                    <accordion-group heading="Theft Details" is-open="isFirstOpen" >
                        <div id="div_id_date" data-tap-disabled="true" class="form-group">
                            <label class="incident-label" ng-class="{true: 'form-invalid', false: 'form-valid'}[model.dateAlert]" for="div_id_date">
                                When was the incident?*
                            </label>
                            <input type="text" style="background-color: #fff; border:1px solid #ddd; padding-left: 20px;" class="form-control incident-date" dgb-datepicker="{autoclose: true, showMeridian: true, endDate: hazardDetails.maxDate, maxView: 2}" ng-model="theftDetails.selectedDateTime" readonly >
                            </input>
                        </div>
                        {{theftDetails.selectedDateTime}}
                        <div class="form-group">
                            <label class="incident-label" ng-class="{true: 'form-invalid', false: 'form-valid'}[model.hazardTypeAlert]">
                                What type of hazard was it?*
                            </label>
                            <group-select
                                    header-text="Select a hazard type"
                                    display-text="hazardDetails.selectedHazardType.text"
                                    selected-item="hazardDetails.selectedHazardType"
                                    groups="hazardDetails.hazardGroupChoices"
                                    >
                            </group-select>
                        </div>
                        Item key: {{hazardDetails.selectedHazardType.key}}
                    </accordion-group>
                    <accordion-group heading="Description">
                        <div class="form-group">
                            <label class="incident-label">
                                Please give a brief description of the incident.
                            </label>
                            <textarea class="item incident-textarea" placeholder="optional" ng-model="description.details"></textarea>
                        </div>
                        {{description.details}}
                    </accordion-group>
                    <accordion-group heading="Personal Details">
                        <div class="form-group">
                            <label class="incident-label">
                                What is your birth year?
                            </label>
                            <basic-select
                                    header-text="Select a year"
                                    display-text="personalDetails.selectedHazardBirthYear.text"
                                    selected-item="personalDetails.selectedHazardBirthYear"
                                    items="personalDetails.birthYearChoices"
                                    >
                            </basic-select>
                        </div>
                        {{personalDetails.selectedHazardBirthYear.key}}
                        <div class="form-group">
                            <label class="incident-label">
                                What is your birth month?
                            </label>
                            <basic-select
                                    header-text="Select a month"
                                    display-text="personalDetails.selectedHazardBirthMonth.text"
                                    selected-item="personalDetails.selectedHazardBirthMonth"
                                    items="personalDetails.birthMonthChoices"
                                    >
                            </basic-select>
                        </div>
                        {{personalDetails.selectedHazardBirthMonth.key}}
                        <div class="form-group">
                            <label class="incident-label">
                                Please select your gender?
                            </label>
                            <basic-select
                                    header-text="Select a gender"
                                    display-text="personalDetails.selectedHazardGender.text"
                                    selected-item="personalDetails.selectedHazardGender"
                                    items="personalDetails.genderChoices"
                                    >
                            </basic-select>
                        </div>
                        {{personalDetails.selectedHazardGender.key}}
                        <div class="form-group">
                            <label class="incident-label">
                                Do you bike at least once a week?
                            </label>
                            <basic-select
                                    header-text="Select an option"
                                    display-text="personalDetails.selectedHazardCyclingFrequency.text"
                                    selected-item="personalDetails.selectedHazardCyclingFrequency"
                                    items="personalDetails.cyclingFrequencyChoices"
                                    >
                            </basic-select>
                        </div>
                        {{personalDetails.selectedHazardCyclingFrequency.key}}
                    </accordion-group>
                </accordion>
            </div>

            <div class="padding" ng-controller='TermsAndConditionsCtrl'>
                <input type="checkbox" ng-model="model.hazardChecked" ng-change="rememberCheck()"/>
                <span>I have read and understand the
                    <a ng-click="openModal()">
                        terms and conditions.
                    </a>
                </span>
            </div>
            <div class="padding text-right">
                <button type="reset" class="button button-bikemaps-inverse" ng-click="cancelHazard()">
                    Cancel
                </button>
                <button type="submit" class="button button-bikemaps" ng-disabled="!model.hazardChecked">
                    Submit
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>