<ion-view>
    <ion-nav-title>
        <img src="img/BikeMapsORG_Logo_notxt_sm.png" class="bma-header-logo">
        <span>Help</span>
    </ion-nav-title>
    <!--Hide the menu button-->
    <ion-nav-buttons side="right" >
    </ion-nav-buttons>

    <ion-content ng-controller="NotificationCtrl">
       <ion-slide-box show-pager="true">
               <ion-slide>
                   <img style="width:100%;" src="img/Report1.png" />
               </ion-slide>
               <ion-slide>
                   <img style="width:100%;" src="img/Report2.png" />
               </ion-slide>
               <ion-slide>
                   <img style="width:100%;" src="img/Report3.png" />
               </ion-slide>
               <ion-slide>
                   <img style="width:100%;" src="img/Report4.png" />
               </ion-slide>
       </ion-slide-box>
    </ion-content>
</ion-view>