html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
ion-nav-view>ion-view>ion-side-menus>ion-side-menu-content>ion-pane>ion-content>div {
    height: 100%
}
#map {
    height: 100%;
}

@font-face {
    font-family: faktos;
    src: url('../static/fonts/faktos.regular.ttf');
}

.bar.bar-bikemaps{
    border-color: #2c3e50;
    background-color: #2c3e50;
    background-image: linear-gradient(0deg, #2c3e50, #2c3e50 50%, transparent 50%);
    color: #fff; }
.bar.bar-bikemaps .title {
    color: #fff; }
.bar.bar-bikemaps.bar-footer {
    background-image: linear-gradient(180deg, #2c3e50, #2c3e50 50%, transparent 50%); }

.button.button-bikemaps {
    border-color: #2c3e50;
    background-color: #2c3e50;
    color: #fff;
    font-color:#fff;}
.button.button-bikemaps:hover {
    color: #fff;
    text-decoration: none; }
.button.button-bikemaps.active, .button.button-bikemaps.activated {
    border-color: #2c3e50;
    background-color: #2c3e50;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
.button.button-bikemaps.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff; }
.button.button-bikemaps.button-icon {
    border-color: transparent;
    background: none; }
.button.button-bikemaps.button-outline {
    border-color: #2c3e50;
    background: transparent;
    color: #2c3e50; }
.button.button-bikemaps.button-outline.active, .button.button-bikemaps.button-outline.activated {
    background-color: #2c3e50;
    box-shadow: none;
    color: #fff; }

.button.button-bikemaps-inverse {
    background-color: #F0F0F0;
    color: #2c3e50;
    border-color: transparent;
}


.bma-title {
    color: #FFF;
    font-family: faktos;
    src: url('static/fonts/faktos.regular.ttf');
    font-size: 21px;
}


.navbar-default-app {
    background-color: #2c3e50;
    width: 100%;
}



/* Leaflet legend on map */
.legend-subtext {
    margin-left: 18px;
}
.legend-subtext-strava {
     margin-left: 28px;
 }
.legend-subtext-infrastructure {
    margin-left: 31px;
}
.marker-group>div>i{
    height: 25px;
    width: 25px;
    padding-top: 4px;
    border-radius: 12.5px;

}
.marker-group>div>i.fa-bicycle{
    padding-left: 4px;
    position: relative;
    top: 50%;
    transform: translateY(-25%);

}
.marker-group>div>i.fa-warning{
    padding-left: 5.5px;
    position: relative;
    top: 50%;
    transform: translateY(-25%);
}
.marker-group>div>i.fa-certificate, .marker-group>i.fa-user {
    padding-left: 6px;
    position: relative;
    top: 50%;
    transform: translateY(-25%);
}
.marker-group>div>span>i.fa-filter {
    padding-left: 1.5px;

}
.marker-group span.fa-stack{
    margin-top: -11px;
    margin-left: -1px;
}

/* Legend gradients*/
.strava-gradient{
    background: rgba(255,102,17,0);
    background: -moz-linear-gradient(left, rgba(255,102,17,0) 0%, rgba(255,102,17,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,102,17,0)), color-stop(100%, rgba(255,102,17,1)));
    background: -webkit-linear-gradient(left, rgba(255,102,17,0) 0%, rgba(255,102,17,1) 100%);
    background: -o-linear-gradient(left, rgba(255,102,17,0) 0%, rgba(255,102,17,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,102,17,0) 0%, rgba(255,102,17,1) 100%);
    background: linear-gradient(to right, rgba(255,102,17,0) 0%, rgba(255,102,17,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6611', endColorstr='#ff6611', GradientType=1 );
}

.rainbow-gradient{
    background: red; /* not working, let's see some red */
    background: -moz-linear-gradient( left ,
    blue 0%,
    cyan 25%,
    lime 50%,
    yellow 55%,
    red 100%);
    background: -webkit-gradient(linear,  left bottom,  right bottom,
    color-stop(0%, blue),
    color-stop(25%, cyan),
    color-stop(50%, lime),
    color-stop(55%, yellow),
    color-stop(100%, red));
}

.gradient-bar {
    height: 5px;
    width: 150px;
    margin-top: 5px;
    display: inline-block;
}

.alert-area-box{
    background: rgba(59, 153, 114, 0.1);
    border: 2px solid rgba(59, 153, 114, 0.6);
    height: 20px;
    width: 32.36px; /*THE GOLDEN RATIO*/
    margin-top: 5px;
    display: inline-block;
    margin-left: 12px;
}

.bikerack{
    display:inline-block;
    background: #666666;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 0.5;
    /*margin-top: -15px;*/
    margin-left: 10px;
    margin-right: 20px;
}

.bikelane{
    display:inline-block;
    background: #666666;
    width: 30px;
    margin-right: 5px;
}
.solidlane{
    height:2px;
    background: #ff0080;
}
.thicklane{
    height: 3.5px;

}
.dotlane{
    height: 3px;
    border: 1px solid #ff0080;
    background: #ff0080; /* not working, let's see some red */
    background: repeating-linear-gradient(
            to right,
            #ff0080,
            #ff0080 3px,
            #ffffff 3px,
            #ffffff 6px
    );
}

.modal-dialog{
    z-index: 4000;
}

.popup-details{
    margin-left: 5px;
    text-indent: -5px;
}

/* Geocoder */
.leaflet-control-geocoder-icon {
    background-size: 83%;
}

/*Common background colors*/
.collision{
    background: #d63e2a;
    color: black;
}
.nearmiss{
    background: #f3952f;
    color: black;
}
.hazard{
    background: #72b026;
    color: black;
}
.theft{
    background: #a3a3a3;
    color: black;
}
.official{
    background: #436978;
    color: orange;
}

#share{
    background-color: #2c3e50;
}

#share li{
    background-color: #2c3e50;
    border-color: #455060 ;
}

#share li a{
    color: #ffffff;
    text-decoration: none;
}

.dow{
    font-weight: bold;
}

/*Incident for tabs*/
.bma-tabs >.nav-tabs > li > a,
.bma-tabs >.nav-tabs > li.active > a,
.bma-tabs >.nav-tabs > li.active > a:focus {
    color: #2c3e50;
    font-size: 15px;
}
.incident-title {
    font-size: 15px;
    font-weight: bold;
    color: #2c3e50;
}

.incident-date {
    min-height: 56px;
    background-color: #fff; !important
}

.incident-label {
    width: 100%;
}

.incident-textarea {
    width: 100%;
}

.incident-item-right {
    position: absolute;
    right: 10px;
}

.terms-conditions {
    color: #2c3e50;
}

.terms-consitions-a {
    color: #18bc9c;
    text-decoration: none;
}

.terms-conditions p{
    font-size: 15px;
    /*text-indent:15px;*/
}

.terms-conditions h1{
    font-size: 32px;
}

textarea {
    resize: none; /* removes resize handle from text area inputs */
}

.bma-group {
    font-weight: bold;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 8px;
    min-height: 46px;
}
.bma-item {
    padding-left: 20px;
}

.form-invalid {
    border-color:#FF0000;
    color: #FF0000;
}

.form-valid {
}

.filter{
    padding: 0 10px;
}
.date-container{
    padding: 0 10px;
}
/* Bootstrap-slider customization */
.bma-slider .slider{
    margin: 0px 10px;
}
.bma-slider .slider.slider-horizontal{
    width: 130px;
}
.slider-handle.custom::before {
    line-height: 18px;
    font-size: 22px;
    color: #1a242f;
    font-family: FontAwesome;
    position:relative;
    top: 1px;
}
.min-slider-handle.custom::before {
    content: '\f10c';
    right: 6px;
}
.max-slider-handle.custom::before {
    content: '\f111';
    left: 7px;
}

.slider-selection {
    background: #18bc9c;
}
.slider-disabled .slider-selection{
    opacity: 0.3;
}
.slider-disabled .slider-handle{
    background-image: none !important;
    opacity: 0.3;
}

/* Notifications */

.capitalizeFirstLetter {
    text-transform:capitalize;
}

.list-left-editing .item{
    pointer-events: initial !important;
}

/* Popup */
.popup {
    color: #2c3e50;
}
.popup .popup-body {
    overflow: hidden !important;
}
.popup-buttons .button:last-child {
    border-color: #2c3e50;
    background-color: #2c3e50;
    color: #fff;
    font-color:#fff;
}
.popup-buttons .button:last-child {
    border-color: #2c3e50;
    background-color: #2c3e50;
    color: #fff;
    font-color:#fff;
}
.popup-buttons .button:first-child {
    color: #2c3e50;
}

.bma-chevron {
    margin-left: 10px;
}

.bma-checkbox {
    height: 18px;
    width: 18px;
}
.bma-leaflet-button.leaflet-bar a {
    height: 30px;
    width: 30px;
    min-width: 30px;
    left: 50%;
    right: 50%;

    color: #2c3e50;
    font-weight: bold;
    font-family: "Roboto";
}
.bma-leaflet-button-legend.leaflet-bar a {

}
.bma-leaflet-text-button.leaflet-bar a {
    height: 32px;
    width: 75px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    color: #2c3e50;
    font-weight: bold;
    font-family: "Roboto";

}

.bma-target-marker {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    margin-left: -18px;
    margin-top: -47px;
}

.bma-target-cross {
    height: 15px;
    width: 32px;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    margin-left: -17px;
    margin-top: -9px;
}
.bma-target-bike {
    position: absolute;
    margin-left: -9px;
}

.bma-button-group {
    width: 100%;
    position:absolute;
    bottom: 42px;
    text-align: center;
}
.bma-button.btn {
    width: 48%;
    font-weight: bold;
    height: 46px;
}

.bma-button-span {
    margin-left: 3px;
}

.bma-button-cancel.btn.btn-default {
    background-color: #a3a3a3;
    border-color: transparent;
    color: #fff;
    opacity: 0.8;
}
.bma-button-continue.btn.btn-default {
    background-color: #00ADAB;
    border-color: transparent;
    color: #fff;
    opacity: 0.8;
}
.bma-button-collision.leaflet-bar a {
    background-color: #d63e2a;
    color: white;
    opacity: 0.9;
}
.bma-button-nearmiss.leaflet-bar a {
    background-color: #f3952f;
    color: white;
    opacity: 0.9;
}
.bma-button-hazard.leaflet-bar a {
    background-color: #72b026;
    color: white;
    opacity: 0.9;
}
.bma-button-theft.leaflet-bar a {
      background-color: #a3a3a3;
      color: white;
      opacity: 0.9;
  }
.leaflet-left.leaflet-bottom {
    bottom: 32px;
}
.bma-actionsheet {
    color: #2c3e50;
}
.bma-actionsheet-icon {
    position: relative;
    bottom: 3px;
}
.bma-actionsheet-icon-close {
    position: absolute;
    display: inline-block;
    left:10px;
    color: #2c3e50;
}
.bma-side-menu {
    top: 44px;
    color: #2c3e50;
}
.bma-side-menu-title {
    color: #2c3e50;
    font-weight:bold!important;
}
.bma-legend-button {
    float: right;
}
.bma-legend-group {
    padding-left: 10px;
}
.bma-legend-item {
    min-height: 35px;
}
.bma-layer-toggle {
    height: 20px;
    width: 20px;
    margin-right:3px!important;
}
.bma-legend-label {
    padding-left: 3px;
    font-size:larger;
}
.bma-account {
    color: #979797;
    font-font: Roboto;
    margin-top: 20px;
}





